<!doctype html>
<html>
<head>
 <link type="text/css" href="css/style.css" media="all" rel="stylesheet">
<meta charset="utf-8">
	<title>Домашнее задание 13-14  </title>


</head>
<body>


<form name="questionTestSeo" id="seotest">	
<div id="counter">

</div>
<input id="buttons" type="button" onclick="checkingResult()" value="Отправить"  />
</form>



  <script type="text/template" id="questionseo">
<p><%- text %></p>
	<ul>
	<% _.forEach(answers, function(answerSeo, i) { %>
          <li  class="carousel-element">
		<label><input type="radio" name="<%-idQ%>" id="<%-i%>" onClick="optionAnswer(name, id)" > <%- answerSeo %></label>
          </li>
          <% }); %>
	
</ul>
 </script>
	
 
 

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>

<script src="js/script.js"></script>
</body>
</html>
