<!DOCTYPE html>
<html lang="en">
<head>
<title>Fial exame</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="img/favicon.png" type="image/png">
  <link rel="stylesheet" href="css/styles320.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/slider.css">
  <script src="https://use.fontawesome.com/5284116899.js"></script>


  

</head>
<body class="page">
<script type="text/template" id="template-Slider-L">
	<% for (var i = 0;i < myDataL.length ; i++){ %>
        <li class="slide">
        <img src="<%= myDataL[i].src[0] %>" alt="js and jquery"> 
        
        <article class="article">
					  <span>  <button class="btnStep"> step1 </button></span>
					  <h3><%= myDataL[i].title  %></h3>
					  <p><%= myDataL[i].text  %></p>
		</article>
   
        </li>  
        <%};%>
</script>
	
<script type="text/template" id="template-Slider-C">
	<% for (var i = 0;i < myDataC.length ; i++){ %>
        <li class="slide">
        <img src="<%= myDataC[i].src[0] %>" alt="js and jquery"> 
        
        <article class="article">
					  <span>  <button class="btnStep"> step1 </button></span>
					  <h3><%= myDataC[i].title  %></h3>
					  <p><%= myDataC[i].text  %></p>
		</article>
   
        </li>  
        <%};%>
</script>
<script type="text/template" id="template-Slider-R">
	<% for (var i = 0;i < myDataR.length ; i++){ %>
        <li class="slide">
        <img src="<%= myDataR[i].src[0] %>" alt="js and jquery"> 
        
        <article class="article">
					  <span>  <button class="btnStep"> step1 </button></span>
					  <h3><%= myDataR[i].title  %></h3>
					  <p><%= myDataR[i].text  %></p>
		</article>
   
        </li>  
        <%};%>
</script>
<header class="header">
  <div class="box-header inner">
    <nav class="nav-header">
    
     <div class="box-SignLog">
       <div class="logo"> <a href="#"> URLAUBSGLÜCK</a></div>
        <div>
        <button class="btnLogSign">Log in</button>
        <button class="btnLogSign">Sign up</button>
      </div></div>
    </nav>
    <div class="box-headName">
      <h3 >Share your </h3>
      <h3>holiday dreams</h3>
      <h6>And find the perfect partner to fullfill it</h6>
      <button>Find your holiday partner</button>
    </div>
  </div>
</header>
<main class="main">
	<div class="box-main inner">
		<section class="galary">
			<h5>How Urlaubsglück works?</h5>
			<div class="wrapSlider">
			<!-- slider left -->
				<div class="jcarousel-wrapper">
					<div class="jcarousel">
					  <ul id="template-Slider-ulL"></ul>
					</div>
					<a class="jcarousel-prev" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
					<a class="jcarousel-next" href="#"> <i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
				</div>
			<!-- slider center -->
				<div class="jcarousel-wrapper">
					<div class="jcarousel">
							<ul id="template-Slider-ulC"></ul>
					</div>
					<a class="jcarousel-prev" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
					<a class="jcarousel-next" href="#"> <i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
				</div>
			<!-- slider right -->
				<div class="jcarousel-wrapper">
					<div class="jcarousel">
					  <ul id="template-Slider-ulR"></ul>
					</div>
				 
					<a class="jcarousel-prev" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
					<a class="jcarousel-next" href="#"> <i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
				</div>
			</div>
		</section>
		<section class="socials">
      <h5>Meet a partner for your best holiday</h5>
      <div class="wrapFigure">
        <figure>
          <div><a href="#"><img src="img/fotoPartner_1.png"><i class="icon-paper-plane"></i></a></div>

          <figcaption class="figCapt"> Bradley Hunter </figcaption>
          <h6>Based in Chicago. I love playing tennis and loud music.</h6>
        </figure>
        <figure>
          <div><a href="#"><img src="img/fotoPartner_4.png"><i class="icon-beaker"></i></a></div>

          <figcaption class="figCapt"> Heather Walker </figcaption>
          <h6>I'm a happy person that loves cats and climbing on mountains. </h6>
        </figure>
        <figure>
          <div><a href="#"><img src="img/fotoPartner_2.png"><i class="icon-monitor"></i></a></div>

          <figcaption class="figCapt"> Lucas Marsha </figcaption>
          <h6> get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</h6>
        </figure>
        <figure>
          <div><a href="#"><img src="img/fotoPartner_3.png"><i class="icon-coffee"></i></a></div>

          <figcaption class="figCapt"> Bradley Hunter </figcaption>
          <h6>Based in Chicago. I love playing tennis and loud music.</h6>
        </figure>
      </div>
      <h3><button class="btnSee">See other partners</button></h3>
    </section>
	</div>
</main>


<footer class="footer">

</footer>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script src="js/jquery.jcarousel.js"></script>
<script src="js/script_db.js"></script>
	<script src="js/slider.js"></script>

</body>
</html>