ul{
	list-style: none;
}
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #b9b9b9;
    width: 500px;
    height: 250px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}


.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}


.jcarousel-prev,
.jcarousel-next {
    position: absolute;
    top: 110px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.jcarousel-prev {
    left: -50px;
}

.jcarousel-next {
    right: -50px;
}

.jcarousel-prev:hover span,
.jcarousel-next:hover span {
    display: block;
}

.jcarousel-prev.inactive,
.jcarousel-next.inactive {
    opacity: .5;
    cursor: default;
}


.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block; 
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;  
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    margin-right: 2px;
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.niceCheck {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url(path-to/checkbox.png);
	overflow: hidden;
}
.niceChecked {
	background-position: 0 -17px;
}
.niceCheck input {
	margin-left: -100px; /* можно задать побольше чтобы наверняка скрыть поле */
}
.niceCheckDisabled {
	background-image: url(path-to/checkbox-disabled.png);
}
/*
.horizontal{
	background: #373737;
	background: linear-gradient(to top, #b5bdc8 0%, #303030 1%, #333333 60%);
	box-shadow: 0px 4px 8px rgba(0,0,0,0.6);
	margin: -4px 0 0px 0px;
	padding: 0 0 0 50px;
	height: 30px;
	border-top: 1px solid #138aa7;
	position: relative;
	z-index: 2;
}
*/

.head-menu{
	background-color:#0CF;
}

.head-menu a {
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 17px;
	padding-left: 20px;
	padding-right: 30px;
}
.head-menu a:hover{
/*	background-color: #736C6C;*/
	padding-left: 20px;
	padding-right: 30px;

}
.head-menu li {
	float: left;
	line-height: 30px;
		background-color: #0CF;
}

.head-menu ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.sub-menu{

	display: none;
	margin: -2px 0px 0 0px;
    position: absolute;
    background-color: #0CF;
    border-top: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);


}

ul.head-menu li:hover > .sub-menu{
	display:block;
	width: 170px;
	position: absolute;

}
.back{
	width: 450px;
    height: 50px;
    background-color: #0CF;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
	}